* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 3rem;

  /* === FONT ===*/
  /* font-family */
  --primary-font: "Cabin", sans-serif;

  /* font-size */
  --fs-big: 2.25rem;
  --fs-medium: 1.438rem;
  --fs-small: 0.875rem;

  /* font-weights */
  --regular-w: 400;
  --medium-w: 500;
  --semibold-w: 600;
  --bold-w: 700;

  /* Z-index */
  --z-fixed: 100;

  /* === COLOURS === */
  --first-color: #efeeea;
  --btn-clr: #060606;
  --header-clr: #010000;
  --text: hsl(0, 0%, 30%);
  --title-text: hsl(0, 0%, 12%);
}

body {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* border: 2px solid red; */
}

.discount__header {
  background-color: var(--header-clr);
  color: white;
  text-align: center;
  line-height: 1.35;
  padding: 0.75em 0;
  font-weight: var(--semibold-w);
}

.discount__header span {
  text-decoration: underline;
}

header {
  background-color: var(--first-color);
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  height: calc(var(--header-height) + 1.5rem);
  align-items: center;
}

.header__toggle,
.nav__close,
.logo,
.nav__name {
  cursor: pointer;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.2rem 0.3rem;
  background-color: var(--first-color);
  color: var(--header-clr);
  border-radius: 50%;
  z-index: var(--z-fixed);
}

/* ==== Nav ==== */
@media screen and (max-width: 600px) {
  header {
    position: relative;
  }

  .nav__bar {
    position: absolute;
    width: 100%;
    top: 35%;
    left: -150%;
    height: 100vh;
    background-color: var(--header-clr);
    color: white;
    padding: 0 1.5rem;
    transition: 0.5s;
  }

  .nav__item {
    font-size: var(--fs-medium);
    /* border: 1px solid red; */
    margin-bottom: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid white;
    font-size: calc(var(--fs-small) + 2px);
  }

  .nav__link {
    color: var(--first-color);
  }

  .nav__name {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .nav__content {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    align-self: center;
    align-content: center;
    /* column-gap: 2rem; */
    width: 100%;
  }

  .header__toggle,
  .nav__close,
  .logo {
    display: none;
  }

  .nav__bar {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav__list {
    display: flex;
    align-items: center;
    /* margin: 0 0.25rem; */
  }

  .nav__item {
    margin: 0 0.25rem;
  }

  .nav__link {
    color: var(--header-clr);
    padding: 0.75rem 0.8rem;
    border-radius: 0.25rem;
  }

  .nav__name {
    color: var(--header-clr);
    font-size: calc(var(--fs-small) + 10px);
    font-weight: var(--bold-w);
  }

  .active {
    color: var(--first-color);
    background-color: var(--btn-clr);
  }
}

.show {
  left: 0;
  height: 50vh;
  transition: 1s;
  scroll-behavior: smooth;
}

section.hero__section {
  background-color: var(--first-color);
  color: var(--text);
}

section .hero__image-desktop {
  display: none;
}

section .hero__container {
  padding-top: 2rem;
}

section .hero__container .title {
  font-size: calc(var(--fs-medium) - 4px);
  font-weight: var(--semibold-w);
  color: var(--title-text);
  padding: 1.5rem 0 0.5rem 0;
}

section .hero__container .text {
  font-size: var(--fs-small);
  line-height: 1.5;
}

section .hero__container .text span {
  font-style: italic;
}

section .hero__container .checkmarks {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-small);
  font-weight: var(--semibold-w);
  padding: 0.75rem 0;
}

section .hero__container .checkmarks img {
  width: 18px;
  height: 18px;
}

section .hero__container .checkmarks .checkmark__item {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

section .hero__container .checkmarks .checkmark__item span {
  margin-left: 0.75rem;
}

section .hero__container form {
  padding-bottom: 2rem;
}

section .hero__container form input {
  padding: 0.9rem 0;
  color: var(--text);
  text-align: center;
  font-family: var(--primary-font);
  outline: none;
  border: 1px solid rgba(179, 175, 175, 0.6);
  border-radius: 4px;
}

section .hero__container form button {
  padding: 1rem 1.5rem;
  background-color: var(--btn-clr);
  color: var(--first-color);
  font-family: var(--primary-font);
  font-weight: var(--semibold-w);
  border: none;
  border-radius: 4px;
  margin-left: 0.5rem;
}

section.social__links {
  max-width: 1100px;
  margin: 0 auto;
}

section.social__links .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 3rem 0;
}

section.social__links .wrapper img {
  padding: 0 0.5rem;
  width: 6rem;
  height: 2rem;
}

section.social__links .wrapper .pinterest,
section.social__links .wrapper .twitter,
section.social__links .wrapper .reddit,
section.social__links .wrapper .google,
section.social__links .wrapper .slack {
  display: none;
}

/* === MEDIA QUERIES === */
@media screen and (min-width: 600px) {
  section .hero__container .title {
    font-size: calc(var(--fs-medium) + 2px);
  }

  section .hero__image img {
    display: none;
    border: 1px solid red;
  }

  section .hero__image {
    background-image: url("/Assets/Hero Image (Tablet).png");
    height: 300px;
    /* padding-top: 2rem; */
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section.social__links .wrapper img {
    width: 7.5rem;
  }

  section.social__links .wrapper .pinterest,
  section.social__links .wrapper .twitter {
    display: inherit;
  }
}

@media screen and (min-width: 800px) {
  section .wrapper .hero__image-desktop {
    display: initial;
  }

  section.hero__section .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 3em;
  }

  section.hero__section .wrapper .hero__container {
    width: 100%;
    padding-top: 0;
  }

  section.hero__section .wrapper .hero__image-desktop {
    width: 65%;
    max-height: 500px;
  }

  section.hero__section .wrapper .hero__image-desktop img {
    width: 100%;
    max-height: 450px;
  }

  section.hero__section .wrapper .hero__container .text {
    max-width: 75%;
  }

  section.social__links .wrapper .reddit,
  section.social__links .wrapper .google,
  section.social__links .wrapper .slack {
    display: inherit;
  }
}
