* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 3rem;

  /* === FONT ===*/
  /* font-family */
  --primary-font: "Cabin", sans-serif;

  /* font-size */
  --fs-big: 2.25rem;
  --fs-medium: 1.438rem;
  --fs-small: 0.875rem;

  /* font-weights */
  --regular-w: 400;
  --medium-w: 500;
  --semibold-w: 600;
  --bold-w: 700;

  /* Z-index */
  --z-fixed: 100;

  /* === COLOURS === */
  --first-color: #efeeea;
  --btn-clr: #060606;
  --header-clr: #010000;
}

body {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.discount__header {
  background-color: var(--header-clr);
  color: white;
  text-align: center;
  line-height: 1.35;
  padding: 0.75em 0;
  font-weight: var(--semibold-w);
}

.discount__header span {
  text-decoration: underline;
}

header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  height: calc(var(--header-height) + 1.5rem);
  align-items: center;
}

.header__toggle,
.nav__close,
.logo,
.nav__name {
  cursor: pointer;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.2rem 0.3rem;
  background-color: var(--first-color);
  color: var(--header-clr);
  border-radius: 50%;
  z-index: var(--z-fixed);
}

/* ==== Nav ==== */
@media screen and (max-width: 768px) {
  header {
    position: relative;
  }

  .nav__bar {
    position: absolute;
    width: 100%;
    top: 40%;
    left: -150%;
    height: 100vh;
    background-color: var(--header-clr);
    color: white;
    padding: 0 1.5rem;
    transition: 0.75s;
  }

  .nav__item {
    font-size: var(--fs-medium);
    /* border: 1px solid red; */
    margin-bottom: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid white;
    font-size: calc(var(--fs-small) + 2px);
  }

  .nav__link {
    color: var(--first-color);
  }

  .nav__name {
    display: none;
  }
}

.show {
  left: 0;
  height: 50vh;
  transition: 1s;
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .nav__content {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    align-self: center;
    align-content: center;
    /* column-gap: 2rem; */
    width: 100%;
  }

  .header__toggle,
  .nav__close,
  .logo {
    display: none;
  }

  .nav__bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav__list {
    display: flex;
    align-items: center;
    /* margin: 0 0.25rem; */
  }

  .nav__item {
    margin: 0 0.25rem;
  }

  .nav__link {
    color: var(--header-clr);
    padding: 0.75rem 0.8rem;
    border-radius: 0.25rem;
  }

  .nav__name {
    color: var(--header-clr);
    font-size: calc(var(--fs-small) + 10px);
    font-weight: var(--bold-w);
  }

  .active {
    color: var(--first-color);
    background-color: var(--btn-clr);
  }
}
